<%- include('head'); %>   
    <body>
            <%- include('navbar'); %>   


        <br>

        <br>
        <br>


        <div class="box1 text-center">
            <img src="https://pngimage.net/wp-content/uploads/2018/05/about-us-logo-png-3.png">
                <div class="container"></div>
                <div class="imageContainer"></div>
                <br>
                <br>
                <div class="text-block">sdfsdfsdfsdf l sdjfhlkshdf sdfjkh dslfkhsljkfhlkjs hflkjshdflkjh sdlkjfhlkjsdf hlkjsdfklj sdkjf kljsdfg ds;flkjgh sdk jfd<br> la;fkdls sdkjfh;hsdf; ;udfh </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

   
                </div>
              </div>
            </div>
          </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>



            


            <%- include('footer'); %>   


    </body>
    </html>