<%- include('head'); %>   
<body>
        <header>
                <%- include('navbar'); %>
        </header>








                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                  <link rel="stylesheet" type="text/css" href="./css/index.css">
              
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
                  </script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
                  </script>
                  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
                  </script>
                  <script src="./js/contact.js"></script>

                  <style>
                    .button {
                      border-radius: 4px;
                      background-color: #f4511e;
                      border: none;
                      color: #FFFFFF;
                      text-align: center;
                      font-size: 28px;
                      padding: 20px;
                      width: 200px;
                      transition: all 0.5s;
                      cursor: pointer;
                      margin: 5px;
                    }
                    
                    .button span {
                      cursor: pointer;
                      display: inline-block;
                      position: relative;
                      transition: 0.5s;
                    }
                    
                    .button span:after {
                      content: '\00bb';
                      position: absolute;
                      opacity: 0;
                      top: 0;
                      right: -20px;
                      transition: 0.5s;
                    }
                    
                    .button:hover span {
                      padding-right: 25px;
                    }
                    
                    .button:hover span:after {
                      opacity: 1;
                      right: 0;
                    }
                    </style>
                    </head>
                    <body>
                    
                            <a class="button-height btn" href="./displaycontacts">contact database</a>

</body>

</html>