<%- include('head'); %>   
<body>
        <header>
                <%- include('navbar'); %>  

                <div class="testtwo">

                <div class="container">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                                <h2 style="text-align:center">Product Card</h2>

                                <div class="card">
                                <img src="./Image/in_game_vayne.jpg" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                                <p><button>View More</button></p>
                                </div>
                          </div>
                        
                          <div class="col-lg-6 col-md-6 col-sm-12">
                                <h2 style="text-align:center">Product Card</h2>

                                <div class="card">
                                <img src="./Image/in_game_vayne.jpg" alt="Denim Jeans" style="width:100%">
                                <h1>Tailored Jeans</h1>
                                <p class="price">$19.99</p>
                                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                                <p><button>View More</button></p>
                            </div>
                        </div>
                    </div>
                </div>

                        <div class="container">
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-12">
                                        <br>
                                        <br>
                                        <br>
                                        <h2 style="text-align:center">Product Card</h2>
        
                                        <div class="card">
                                        <img src="./Image/in_game_vayne.jpg" alt="Denim Jeans" style="width:100%">
                                        <h1>Tailored Jeans</h1>
                                        <p class="price">$19.99</p>
                                        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                                        <p><button>View More</button></p>
                                        </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12">
                                        <br>
                                        <br>
                                        <br>
                                        <h2 style="text-align:center">Product Card</h2>
        
                                        <div class="card">
                                        <img src="./Image/in_game_vayne.jpg" alt="Denim Jeans" style="width:100%">
                                        <h1>Tailored Jeans</h1>
                                        <p class="price">$19.99</p>
                                        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                                        <p><button>View More</button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
        </header>

                                <br>
                                <br>
                                <br>



                                     
</body>
<%- include('footer'); %>   
</html>