<%- include('head'); %>   
<body>
        <header>
                <%- include('navbar'); %>  

                <div class="testtwo">

                <div class="container">
                        <div class="row">

                                <div class="product-card">
                                        <div class="badge">NEW</div>
                                        <div class="product-tumb">
                                            <img src="Image/aphelios.jpg" alt="">
                                        </div>
                                        <div class="product-details">
                                            <span class="product-catagory">Women,bag</span>
                                            <h4><a href="./productone">Women leather bag</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                                            <div class="product-bottom-details">
                                                <div class="product-price"><small>$96.00</small>$230.99</div>
                                                <div class="product-links">
                                                    <a href="S"><i class="fa fa-heart"></i></a>
                                                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-card">
                                            <div class="badge"></div>
                                            <div class="product-tumb">
                                                <img src="Image/kayn_wall.jpg" alt="">
                                            </div>
                                            <div class="product-details">
                                                <span class="product-catagory">Women,bag</span>
                                                <h4><a href="./producttwo">Women leather bag</a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                                                <div class="product-bottom-details">
                                                    <div class="product-price"><small>$96.00</small>$230.99</div>
                                                    <div class="product-links">
                                                        <a href=""><i class="fa fa-heart"></i></a>
                                                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
        </header>

                                <br>
                                <br>
                                <br>
                                <br>



                                     
</body>
<%- include('footer'); %>   
</html>