<%- include('head'); %>  

<%- include('navbar'); %>  

<link rel="stylesheet" type="text/css" href="./css/productone.css">
<main class="container">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
        <img src="Image/aphelios.jpg" class="d-block w-100" alt="...">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span></span>
        <h1>Product</h1>
        <p>LKJSDF LSDKJFH S JKD DJSDF SDKSDMF JDKLFH DF DF JLSD FH SDFHLSDHJHAS;H SDFJS; SDFHJ;KSDF SDF LJHSDF O</p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
   

   
        </div>
   

   
      <!-- Product Pricing -->
      <div class="product-price">
        <span></span>
        <a href="#" class="cart-btn">-SOLD OUT-</a>
      </div>
    </div>
  </main>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('footer'); %>   
</html>